/* свойство, ограничивающее выпадание вложенного элемента за границы элемента-родителя в списке фруктов */
* {
	box-sizing: border-box;
}

/*стили для страницы*/
body {
	margin: 0;
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
}

/*стили для списка*/
ul[class] {
	list-style: none;
}

/*общие стили для списка и элементов списка*/
ul[class],
li {
	margin: 0;
	padding: 0;
}

/*стили для кнопок*/
button {
	margin-top: 10px;
	background-color: #008cba;
	border: none;
	color: white;
	font-size: 14px;
	font-family: 'Courier New', Courier, monospace;
	padding: 10px 16px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	max-width: fit-content;
}

/*стили для полей ввода*/
input {
	margin: 5px 10px 5px 0;
	border: 0;
	padding: 0 10px;
	line-height: 36px;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	background-color: #3cbc8d;
	color: rgb(255, 255, 255);
	max-width: 200px;
}

/*стили для блока main*/
main {
	display: flex;
	flex-direction: row;
	height: 100vh;
	max-height: 100vh;
}

/*стили для заголовков*/
.wrapper__title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

/* Панель управления */
.panel__wrapper {
	flex-basis: 25%;
	max-height: inherit;
	overflow: hidden;
	background: aliceblue;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel__devtools {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.line {
	margin-top: 10px;
}

/* Список экзотических фруктов */
.fruits__wrapper {
	flex-basis: 75%;
	background: rgb(255, 255, 255);
	max-height: inherit;
	overflow: hidden;
}

.fruits__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-height: inherit;
	overflow-y: auto;
	padding: 15px;
}

.fruit__item {
	margin: 10px;
	padding: 10px;
	width: fit-content;
	height: 100px;
	border-radius: 10px;
}

.fruit_violet {
	border: 10px solid #8b00ff;
	background: url(../img/мангостин.jpg) no-repeat;
	background-size: cover;
}

.fruit_yellow-green {
	border: 10px solid #bbcd1b;
	background: url(../img/дуриан.jpg) no-repeat;
	background-size: cover;
}

.fruit_carmazin {
	border: 10px solid #dc143c;
	background: url(../img/личи.jpg) no-repeat;
	background-size: cover;
}

.fruit_yellow {
	border: 10px solid #ffd800;
	background: url(../img/карамбола.jpg) no-repeat;
	background-size: cover;
}

.fruit_lightbrown {
	border: 10px solid #cd853f;
	background: url(../img/тамаринд.jpg) no-repeat;
	background-size: cover;
}

.fruit_red {
	border: 10px solid #ff0000;
	background: url(../img/рамбутан.jpg) no-repeat;
	background-size: cover;
}

.fruit_orange {
	border: 10px solid orange;
	background: url(../img/кумкват.jpg) no-repeat;
	background-size: cover;
}

.fruit__info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.842);
	height: 100%;
	padding: 10px;
}